absl-py==1.0.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
albumentations==0.5.2
alembic==1.7.5
altair==4.2.0
antlr4-python3-runtime==4.8
anyio==3.5.0
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
BentoML==0.13.1
bleach==4.1.0
blinker==1.4
boto3==1.20.6
botocore==1.23.33
braceexpand==0.1.7
cached-property==1.5.2
cachetools==4.2.4
captum==0.4.1
Cerberus==1.3.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==7.1.2
configparser==5.2.0
contextlib2==21.6.0
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
deepmerge==1.0.1
defusedxml==0.7.1
docker==5.0.3
easydict==1.9
einops==0.3.2
entrypoints==0.3
et-xmlfile==1.1.0
fastapi==0.70.0
filelock==3.4.2
Flask==2.0.2
flatbuffers==2.0
fonttools==4.28.5
frozenlist==1.2.0
fsspec==2021.11.1
ftfy==6.0.3
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
glfw==2.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
gunicorn==20.1.0
h5py==3.6.0
huggingface-hub==0.4.0
humanfriendly==10.0
hydra-core==1.1.0
idna==3.3
imageio==2.9.0
imgaug==0.4.0
imgui==1.4.1
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==6.6.1
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
Js2Py==0.71
jsonschema==4.3.3
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kornia==0.5.0
libclang==12.0.0
lmdb==1.2.1
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==5.2.0
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.6
numpy==1.21.5
oauthlib==3.1.1
omegaconf==2.1.1
openai==0.11.0
opencv-python==4.5.2.52
opencv-python-headless==4.5.5.62
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.4
pandas-stubs==1.2.0.43
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pluggy==1.0.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.11.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
pyDeprecate==0.3.1
Pygments==2.11.2
pyjsparser==2.7.1
Pympler==1.0.1
pynvml==11.0.0
PyOpenGL==3.1.5
pyparsing==3.0.6
pyrsistent==0.18.0
pyspng==0.1.0
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-json-logger==2.0.2
pytorch-lightning==1.5.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
regex==2021.11.10
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sacremoses==0.0.47
schema==0.7.5
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.7.3
Send2Trash==1.8.0
Shapely==1.8.0
shortuuid==1.0.1
simple-di==0.1.4
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
SQLAlchemy==1.3.24
SQLAlchemy-Utils==0.36.7
starlette==0.16.0
streamlit==1.1.0
streamlit-drawable-canvas==0.8.0
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.2
torch==1.7.1+cu110
torchaudio==0.7.2
torchmetrics==0.7.0
torchvision==0.8.2+cu110
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
transformers==4.12.5
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.25.11
validators==0.18.2
watchdog==2.1.6
wcwidth==0.2.5
webdataset==0.1.103
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
wget==3.2
widgetsnbextension==3.5.2
wldhx.yadisk-direct==0.0.6
wrapt==1.13.3
yarl==1.7.2
zipp==3.7.0
